# Node.js
node_modules/
dist/

# TypeScript
*.tsbuildinfo

# Firebase
src/config/firebaseConfig.json  # Arquivo de configuração do Firebase com credenciais

# Configuração do ambiente
.env                              # Variáveis de ambiente

# Logs e depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# Sistema operacional
.DS_Store                         # macOS
Thumbs.db                         # Windows

# IDEs e editores
.vscode/                          # Configurações específicas do Visual Studio Code
.idea/                            # Configurações do WebStorm/IntelliJ IDEA
*.suo                             # Arquivos de solução do Visual Studio
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak                             # Backups de alguns editores
*.orig                            # Arquivos de merge antigos

# Ferramentas e cache
coverage/                         # Diretório de cobertura de testes
.cache                            # Cache de algumas ferramentas

# Outros
.env.local                        # Outras variáveis de ambiente locais
